
<%+header%>
<!--
    This module is a demo to configure MTK' proprietary WiFi driver.
    Basic idea is to bypass uci and edit wireless profile (mt76xx.dat) directly.
    LuCI's WiFi configuration is more logical and elegent, but it's quite tricky to
    translate uci into MTK's WiFi profile (like we did in "uci2dat").

    Hua Shao <nossiac@163.com>
-->

<%
local disp = require "luci.dispatcher"
-- local request  = disp.context.path
local request = disp.context.request
local mtkwifi = require("mtkwifi")
local devname = request[5]
local devs = mtkwifi.get_all_devs()
local dev = {}
for _,v in ipairs(devs) do
    if v.devname == devname then
        dev = v
    end
end

local cfgs = mtkwifi.load_profile(dev.profile)

%>


<script type="text/javascript" src="<%=resource%>/cbi.js?v=git-17.250.41546-90ac861"></script>

<div id="loading" style="margin-top: 1em; display: none;">
<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:e;" />
    &nbsp;&nbsp;&nbsp; Please waiting while the page is loading......
</div>

<form method="post" name="cbi" action="<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg", devname)%>" enctype="multipart/form-data" onreset="return cbi_validate_reset(this)" onsubmit="return cbi_validate_form(this, 'Some fields are invalid, cannot save values!')" autocomplete="false">
    <fieldset class="cbi-section">
        <legend> Device Configurations - <%=devname%> 
<%
local diff = mtkwifi.diff_profile(dev.profile)
if next(diff) ~= nil then
%>
    <span style="color:red;">(<a href="javascript:location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "reload", dev.devname)%>'">reload</a> to apply changes)</span>
<%
    end
%>
        </legend>
        <table id="dev-cfg-basic" class="cbi-section-table">
            <tr><th></th><td></td><td></td></tr>
			<% if cfgs.WirelessMode then %>
            <tr>
                <td>Mode</td>
                <td>
                    <select style="width:auto" name="WirelessMode">
						<option value="1" <% if cfgs.WirelessMode == "1" then %> selected="selected"<% end%>>1 - B only</option>
						<option value="2" <% if cfgs.WirelessMode == "2" then %> selected="selected"<% end%>>2 - A only in 5G</option>
						<option value="3" <% if cfgs.WirelessMode == "3" then %> selected="selected"<% end%>>3 - B/G mixed</option>
						<option value="8" <% if cfgs.WirelessMode == "8" then %> selected="selected"<% end%>>8 - A/AN mixed 5G</option>
						<option value="9" <% if cfgs.WirelessMode == "9" then %> selected="selected"<% end%>>9 - B/G/N mixed</option>
						<option value="10" <% if cfgs.WirelessMode == "10" then %> selected="selected"<% end%>>10 - G/N mixed</option>
						<option value="13" <% if cfgs.WirelessMode == "13" then %> selected="selected"<% end%>>13 - N only</option>
						<option value="14" <% if cfgs.WirelessMode == "14" then %> selected="selected"<% end%>>14 - A/AN/AC mixed 5G</option>
                    </select>
                </td>
                <td></td>
            </tr>
			<% end %>
			<% if cfgs.Channel then %>
            <tr>
                <td>Channel</td>
                <td>
				<% if cfgs.ApCliEnable == "1" then %>
					<select style="width:auto" name="Channel" disabled="disabled">
						<option selected="selected">APClient/Repeater Mode</option>
				<% else %>
					<select style="width:auto" name="Channel">
						<% if cfgs.WirelessMode == "14" or cfgs.WirelessMode == "8" or cfgs.WirelessMode == "2" then %>
							<option value="0" <% if cfgs.Channel == "0" then %> selected="selected"<% end%>>Channel 0 (Auto)</option>
							<option value="36" <% if cfgs.Channel == "36" then %> selected="selected"<% end%>>Channel 36 (5.180 GHz)</option>
							<option value="40" <% if cfgs.Channel == "40" then %> selected="selected"<% end%>>Channel 40 (5.200 GHz)</option>
							<option value="44" <% if cfgs.Channel == "44" then %> selected="selected"<% end%>>Channel 44 (5.220 GHz)</option>
							<option value="48" <% if cfgs.Channel == "48" then %> selected="selected"<% end%>>Channel 48 (5.240 GHz)</option>
							<option value="52" <% if cfgs.Channel == "52" then %> selected="selected"<% end%>>Channel 52 (5.260 GHz)</option>
							<option value="56" <% if cfgs.Channel == "56" then %> selected="selected"<% end%>>Channel 56 (5.280 GHz)</option>
							<option value="60" <% if cfgs.Channel == "60" then %> selected="selected"<% end%>>Channel 60 (5.300 GHz)</option>
							<option value="64" <% if cfgs.Channel == "64" then %> selected="selected"<% end%>>Channel 64 (5.320 GHz)</option>
							<option value="100" <% if cfgs.Channel == "100" then %> selected="selected"<% end%>>Channel 100 (5.500 GHz)</option>
							<option value="104" <% if cfgs.Channel == "104" then %> selected="selected"<% end%>>Channel 104 (5.520 GHz)</option>
							<option value="108" <% if cfgs.Channel == "108" then %> selected="selected"<% end%>>Channel 108 (5.540 GHz)</option>
							<option value="112" <% if cfgs.Channel == "112" then %> selected="selected"<% end%>>Channel 112 (5.560 GHz)</option>
							<option value="116" <% if cfgs.Channel == "116" then %> selected="selected"<% end%>>Channel 116 (5.580 GHz)</option>
							<option value="120" <% if cfgs.Channel == "120" then %> selected="selected"<% end%>>Channel 120 (5.600 GHz)</option>
							<option value="124" <% if cfgs.Channel == "124" then %> selected="selected"<% end%>>Channel 124 (5.620 GHz)</option>
							<option value="128" <% if cfgs.Channel == "128" then %> selected="selected"<% end%>>Channel 128 (5.640 GHz)</option>
							<option value="132" <% if cfgs.Channel == "132" then %> selected="selected"<% end%>>Channel 132 (5.660 GHz)</option>
							<option value="136" <% if cfgs.Channel == "136" then %> selected="selected"<% end%>>Channel 136 (5.680 GHz)</option>
							<option value="140" <% if cfgs.Channel == "140" then %> selected="selected"<% end%>>Channel 140 (5.700 GHz)</option>
							<option value="144" <% if cfgs.Channel == "144" then %> selected="selected"<% end%>>Channel 144 (5.720 GHz)</option>
							<option value="149" <% if cfgs.Channel == "149" then %> selected="selected"<% end%>>Channel 149 (5.745 GHz)</option>
							<option value="153" <% if cfgs.Channel == "153" then %> selected="selected"<% end%>>Channel 153 (5.765 GHz)</option>
							<option value="157" <% if cfgs.Channel == "157" then %> selected="selected"<% end%>>Channel 157 (5.785 GHz)</option>
							<option value="161" <% if cfgs.Channel == "161" then %> selected="selected"<% end%>>Channel 161 (5.805 GHz)</option>
							<option value="165" <% if cfgs.Channel == "165" then %> selected="selected"<% end%>>Channel 165 (5.825 GHz)</option>
							<option value="169" <% if cfgs.Channel == "169" then %> selected="selected"<% end%>>Channel 169 (5.845 GHz)</option>
							<option value="173" <% if cfgs.Channel == "173" then %> selected="selected"<% end%>>Channel 173 (5.865 GHz)</option>
						<% else %>
							<option value="0" <% if cfgs.Channel == "0" then %> selected="selected"<% end%>>Channel 0 (Auto )</option>
							<option value="1" <% if cfgs.Channel == "1" then %> selected="selected"<% end%>>Channel 1 (2412 GHz)</option>
							<option value="2" <% if cfgs.Channel == "2" then %> selected="selected"<% end%>>Channel 2 (2417 GHz)</option>
							<option value="3" <% if cfgs.Channel == "3" then %> selected="selected"<% end%>>Channel 3 (2422 GHz)</option>
							<option value="4" <% if cfgs.Channel == "4" then %> selected="selected"<% end%>>Channel 4 (2427 GHz)</option>
							<option value="5" <% if cfgs.Channel == "5" then %> selected="selected"<% end%>>Channel 5 (2432 GHz)</option>
							<option value="6" <% if cfgs.Channel == "6" then %> selected="selected"<% end%>>Channel 6 (2437 GHz)</option>
							<option value="7" <% if cfgs.Channel == "7" then %> selected="selected"<% end%>>Channel 7 (2442 GHz)</option>
							<option value="8" <% if cfgs.Channel == "8" then %> selected="selected"<% end%>>Channel 8 (2447 GHz)</option>
							<option value="9" <% if cfgs.Channel == "9" then %> selected="selected"<% end%>>Channel 9 (2452 GHz)</option>
							<option value="10" <% if cfgs.Channel == "10" then %> selected="selected"<% end%>>Channel 10 (2457 GHz)</option>
							<option value="11" <% if cfgs.Channel == "11" then %> selected="selected"<% end%>>Channel 11 (2462 GHz)</option>
							<option value="12" <% if cfgs.Channel == "12" then %> selected="selected"<% end%>>Channel 12 (2467 GHz)</option>
							<option value="13" <% if cfgs.Channel == "13" then %> selected="selected"<% end%>>Channel 13 (2472 GHz)</option>
							<option value="14" <% if cfgs.Channel == "14" then %> selected="selected"<% end%>>Channel 14 (2477 GHz)</option>
						<% end %>
				<% end %>>
					</select>
                </td>
            </tr>
			<% end %>
			<% if cfgs.CountryCode then %>
            <tr>
                <td>Country Code</td>
                <td>
                    <select name="CountryCode" style="width:auto">
						<option value="RU" <% if cfgs.CountryCode == "RU" then %> selected="selected"<% end %>>RU (Russia)</option>
                        <option value="US" <% if cfgs.CountryCode == "US" then %> selected="selected"<% end %>>US (United States)</option>
                        <option value="JP" <% if cfgs.CountryCode == "JP" then %> selected="selected"<% end %>>JP (Japan)</option>
                        <option value="FR" <% if cfgs.CountryCode == "FR" then %> selected="selected"<% end %>>FR (France)</option>
                        <option value="TW" <% if cfgs.CountryCode == "TW" then %> selected="selected"<% end %>>TW (Taiwan)</option>
                        <option value="IE" <% if cfgs.CountryCode == "IE" then %> selected="selected"<% end %>>IE (Ireland)</option>
                        <option value="HK" <% if cfgs.CountryCode == "HK" then %> selected="selected"<% end %>>HK (Hong Kong)</option>
                        <option value="NONE" <% if cfgs.CountryCode == "NONE" then %> checked="checked"<% end %>>NONE</option>
                    </select>
                </td>
            </tr>
			<% end %>
            <tr>
                <td>Country Region</td>
                <td>
					<% if cfgs.WirelessMode == "14" or cfgs.WirelessMode == "8" or cfgs.WirelessMode == "2" then %>
						<% if cfgs.CountryRegionABand then %>
							<select style="width:auto" name="CountryRegionABand">
							<option value="0" <% if cfgs.CountryRegionABand == "0" then %> selected="selected"<% end%>>0: Ch36~64, Ch149~165</option>
							<option value="1" <% if cfgs.CountryRegionABand == "1" then %> selected="selected"<% end%>>1: Ch36~64, Ch100~140</option>
							<option value="2" <% if cfgs.CountryRegionABand == "2" then %> selected="selected"<% end%>>2: Ch36~64</option>
							<option value="3" <% if cfgs.CountryRegionABand == "3" then %> selected="selected"<% end%>>3: Ch52~64, Ch149~161</option>
							<option value="4" <% if cfgs.CountryRegionABand == "4" then %> selected="selected"<% end%>>4: Ch149~165</option>
							<option value="5" <% if cfgs.CountryRegionABand == "5" then %> selected="selected"<% end%>>5: Ch149~161</option>
							<option value="6" <% if cfgs.CountryRegionABand == "6" then %> selected="selected"<% end%>>6: Ch36~48</option>
							<option value="7" <% if cfgs.CountryRegionABand == "7" then %> selected="selected"<% end%>>7: Ch36~64, Ch100~140, Ch149~165</option>
							<option value="8" <% if cfgs.CountryRegionABand == "8" then %> selected="selected"<% end%>>8: Ch52~64</option>
							<option value="9" <% if cfgs.CountryRegionABand == "9" then %> selected="selected"<% end%>>9: Ch36~64, Ch100~116, Ch132~140, Ch149~165</option>
							<option value="10" <% if cfgs.CountryRegionABand == "10" then %> selected="selected"<% end%>>10: Ch36~48, Ch149~165</option>
							<option value="11" <% if cfgs.CountryRegionABand == "11" then %> selected="selected"<% end%>>11: Ch36~64, Ch100~120, Ch149~161</option>
							<option value="12" <% if cfgs.CountryRegionABand == "12" then %> selected="selected"<% end%>>12: Ch36~64, Ch100~144</option>
							<option value="13" <% if cfgs.CountryRegionABand == "13" then %> selected="selected"<% end%>>13: Ch36~64, Ch100~144, Ch149~165</option>
							<option value="14" <% if cfgs.CountryRegionABand == "14" then %> selected="selected"<% end%>>14: Ch36~64, Ch100~116, Ch132~144, Ch149~165</option>
							<option value="15" <% if cfgs.CountryRegionABand == "15" then %> selected="selected"<% end%>>15: Ch149~173</option>
							<option value="16" <% if cfgs.CountryRegionABand == "16" then %> selected="selected"<% end%>>16: Ch52~64, Ch149~165</option>
							<option value="17" <% if cfgs.CountryRegionABand == "17" then %> selected="selected"<% end%>>17: Ch36~48, Ch149~161</option>
							<option value="18" <% if cfgs.CountryRegionABand == "18" then %> selected="selected"<% end%>>18: Ch36~64, Ch100~116, Ch132~140</option>
							<option value="19" <% if cfgs.CountryRegionABand == "19" then %> selected="selected"<% end%>>19: Ch56~64, Ch100~140, Ch149~161</option>
							<option value="20" <% if cfgs.CountryRegionABand == "20" then %> selected="selected"<% end%>>20: Ch36~64, Ch100~124, Ch149~161</option>
							<option value="21" <% if cfgs.CountryRegionABand == "21" then %> selected="selected"<% end%>>21: Ch36~64, Ch100~140, Ch149~161</option>
							<option value="22" <% if cfgs.CountryRegionABand == "22" then %> selected="selected"<% end%>>22: Ch100~140</option>
							<option value="30" <% if cfgs.CountryRegionABand == "30" then %> selected="selected"<% end%>>30: Ch36~48, Ch52~64, Ch100~140, Ch149~165</option>
							<option value="31" <% if cfgs.CountryRegionABand == "31" then %> selected="selected"<% end%>>31: Ch52~64, Ch100~140, Ch149~165</option>
							<option value="32" <% if cfgs.CountryRegionABand == "32" then %> selected="selected"<% end%>>32: Ch36~48, Ch52~64, Ch100~140, Ch149~161</option>
							<option value="33" <% if cfgs.CountryRegionABand == "33" then %> selected="selected"<% end%>>33: Ch36~48, Ch52~64, Ch100~140</option>
							<option value="34" <% if cfgs.CountryRegionABand == "34" then %> selected="selected"<% end%>>34: Ch36~48, Ch52~64, Ch149~165</option>
							<option value="35" <% if cfgs.CountryRegionABand == "35" then %> selected="selected"<% end%>>35: Ch36~48, Ch52~64</option>
							<option value="36" <% if cfgs.CountryRegionABand == "36" then %> selected="selected"<% end%>>36: Ch36~48, Ch100~140, Ch149~165</option>
							<option value="37" <% if cfgs.CountryRegionABand == "37" then %> selected="selected"<% end%>>37: Ch36~48, Ch52~64, Ch149~165, Ch173</option>
						<% end %>
					<% else %>
						<% if cfgs.CountryRegion then %>
							<select style="width:auto" name="CountryRegion">
							<option value="0" <% if cfgs.CountryRegion == "0" then %> selected="selected"<% end%>>0: Ch1~11</option>
							<option value="1" <% if cfgs.CountryRegion == "1" then %> selected="selected"<% end%>>1: Ch1~13</option>
							<option value="2" <% if cfgs.CountryRegion == "2" then %> selected="selected"<% end%>>2: Ch10~11</option>
							<option value="3" <% if cfgs.CountryRegion == "3" then %> selected="selected"<% end%>>3: Ch10~13</option>
							<option value="4" <% if cfgs.CountryRegion == "4" then %> selected="selected"<% end%>>4: Ch14</option>
							<option value="5" <% if cfgs.CountryRegion == "5" then %> selected="selected"<% end%>>5: Ch1~14</option>
							<option value="6" <% if cfgs.CountryRegion == "6" then %> selected="selected"<% end%>>6: Ch3~9</option>
							<option value="7" <% if cfgs.CountryRegion == "7" then %> selected="selected"<% end%>>7: Ch5~13</option>
							<option value="31" <% if cfgs.CountryRegion == "31" then %> selected="selected"<% end%>>31: Ch1~11, Ch12~14</option>
							<option value="32" <% if cfgs.CountryRegion == "32" then %> selected="selected"<% end%>>32: Ch1~11, Ch12~13</option>
							<option value="33" <% if cfgs.CountryRegion == "33" then %> selected="selected"<% end%>>33: Ch1~14</option>
						<% end %>
					<% end %>
				</select>
                </td>
            </tr>
            <% if cfgs.HT_OpMode then %>
            <tr>
                <td>Operating Mode</td>
                <td>
                    <select style="width:auto" name="HT_OpMode">
                        <option value="0" <% if cfgs.HT_OpMode == "0" then %> selected="selected"<% end%>>Mixed Mode</option>
                        <option value="1" <% if cfgs.HT_OpMode == "1" then %> selected="selected"<% end%>>Green Field</option>
                    </select>
                </td>
            </tr>
            <% end %>
            <% if cfgs.HT_GI then %>
            <tr>
                <td>HT Guard Interval</td>
                <td>
                    <select style="width:auto" name="HT_GI">
                        <option value="0" <% if cfgs.HT_GI == "0" then %> selected="selected"<% end%>>Long</option>
                        <option value="1" <% if cfgs.HT_GI == "1" then %> selected="selected"<% end%>>Short</option>
                        <option value="2" <% if cfgs.HT_GI == "2" then %> selected="selected"<% end%>>Auto</option>
                    </select>
                </td>
            </tr>
            <% end %>
            <tr>
                <td>Channel BandWidth</td>
                <td>
                    <select style="width:auto" name="__bw" id="__bw"">
						<% if cfgs.WirelessMode == "14" or cfgs.WirelessMode == "8" or cfgs.WirelessMode == "2" then %>
							<option value="20" <% if dev.__bw == "20" then %> selected="selected"<% end%>>20 MHz</option>
							<option value="40" <% if dev.__bw == "40" then %> selected="selected"<% end%>>40 MHz</option>
							<option value="80" <% if dev.__bw == "80" then %> selected="selected"<% end%>>80 MHz</option>
							<option value="160" <% if dev.__bw == "160" then %> selected="selected"<% end%>>160 MHz</option>
							<option value="161" <% if dev.__bw == "161" then %> selected="selected"<% end%>>80+80 MHz</option>
						<% else %>
							<% if cfgs.HT_BW then %>
								<option value="20" <% if dev.__bw == "20" then %> selected="selected"<% end%>>20 MHz</option>
								<option value="40" <% if dev.__bw == "40" then %> selected="selected"<% end%>>40 MHz</option>
								<option value="60" <% if dev.__bw == "60" then %> selected="selected"<% end%>>20/40 MHz</option>
							<% end %>
						<% end %>
                    </select>
                </td>
            </tr>
            <% if cfgs.HT_EXTCHA then %>
            <tr>
				<% if cfgs.WirelessMode == "14" or cfgs.WirelessMode == "8" or cfgs.WirelessMode == "2" then %>
				<% else %>
				<td>2.4G 40Mhz Ext Channel</td>
				<td>
					<% if cfgs.ApCliEnable == "1" then %>
						<select style="width:auto" name="Channel" disabled="disabled">
							<option selected="selected">APClient/Repeater Mode</option>
					<% else %>
						<select style="width:auto" name="HT_EXTCHA">
							<option value="0" <% if cfgs.HT_EXTCHA == "0" then %> selected="selected"<% end%>>Below</option>
							<option value="1" <% if cfgs.HT_EXTCHA == "1" then %> selected="selected"<% end%>>Above</option>
						</select>
					<% end %>
				<% end %>
                </td>
            </tr>
			<% end %>
			<% if cfgs.WirelessMode == "14" or cfgs.WirelessMode == "8" or cfgs.WirelessMode == "2" then %>
			<tr>
			    <td>5G 2nd 80Mhz Channel</td>
                <td>
				<% if cfgs.ApCliEnable == "1" then %>
					<select style="width:auto" name="VHT_Sec80_Channel" disabled="disabled">
					<option selected="selected">APClient/Repeater Mode</option>
				<% else %>
                    <select style="width:auto" name="VHT_Sec80_Channel">
					<option value="36" <% if cfgs.VHT_Sec80_Channel == "36" then %> selected="selected"<% end%>>Ch36 (5.180 GHz) - Ch48 (5.240 GHz)</option>
					<option value="52" <% if cfgs.VHT_Sec80_Channel == "52" then %> selected="selected"<% end%>>Ch52 (5.260 GHz) - Ch64 (5.320 GHz)</option>
					<option value="100" <% if cfgs.VHT_Sec80_Channel == "100" then %> selected="selected"<% end%>>Ch100 (5.500 GHz) - Ch112 (5.560 GHz)</option>
					<option value="116" <% if cfgs.VHT_Sec80_Channel == "116" then %> selected="selected"<% end%>>Ch116 (5.580 GHz) - Ch128 (5.640 GHz)</option>
					<option value="132" <% if cfgs.VHT_Sec80_Channel == "132" then %> selected="selected"<% end%>>Ch132 (5.660 GHz) - Ch144 (5.720 GHz)</option>
					<option value="149" <% if cfgs.VHT_Sec80_Channel == "149" then %> selected="selected"<% end%>>Ch149 (5.745 GHz) - Ch161 (5.805 GHz)</option>
				<% end %>
                    </select>
                </td>
            </tr>
			<% end %>
			<% if cfgs.DfsEnable then %>
				<% if cfgs.WirelessMode == "14" or cfgs.WirelessMode == "8" or cfgs.WirelessMode == "2" then %>
				<tr>
					<td>DFS</td>
					<td>
						<input type="radio" name="DfsEnable" value="1" <% if cfgs.DfsEnable == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="DfsEnable" value="0" <% if cfgs.DfsEnable == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
            <% end %>
            <% if cfgs.HT_STBC then %>
            <tr>
                <td>STBC</td>
                <td>
                    <input type="radio" name="HT_STBC" value="1" <% if cfgs.HT_STBC == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="HT_STBC" value="0" <% if cfgs.HT_STBC == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.HT_AMSDU then %>
            <tr>
                <td>A-MSDU</td>
                <td>
                    <input type="radio" name="HT_AMSDU" value="1" <% if cfgs.HT_AMSDU == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="HT_AMSDU" value="0" <% if cfgs.HT_AMSDU == "0" then %> checked="checked"<% end %>/> Disable
               </td>
            </tr>
            <% end %>
            <% if cfgs.HT_AutoBA then %>
            <tr>
                <td>Auto Block ACK</td>
                <td>
                    <input type="radio" name="HT_AutoBA" value="1" <% if cfgs.HT_AutoBA == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="HT_AutoBA" value="0" <% if cfgs.HT_AutoBA == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.HT_BADecline then %>
            <tr>
                <td>Decline BA Request</td>
                <td>
                    <input type="radio" name="HT_BADecline" value="1" <% if cfgs.HT_BADecline == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="HT_BADecline" value="0" <% if cfgs.HT_BADecline == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.HT_DisallowTKIP then %>
            <tr>
                <td>HT Disallow TKIP</td>
                <td>
                    <input type="radio" name="HT_DisallowTKIP" value="1" <% if cfgs.HT_DisallowTKIP == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="HT_DisallowTKIP" value="0" <% if cfgs.HT_DisallowTKIP == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.HT_LDPC then %>
            <tr>
                <td>HT LDPC</td>
                <td>
                    <input type="radio" name="HT_LDPC" value="1" <% if cfgs.HT_LDPC == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="HT_LDPC" value="0" <% if cfgs.HT_LDPC == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.VHT_SGI then %>
            <tr>
                <td>VHT Short GI</td>
                <td>
                    <select style="width:auto" name="VHT_SGI">
                        <option value="0" <% if cfgs.VHT_SGI == "0" then %> selected="selected"<% end%>>Long</option>
                        <option value="1" <% if cfgs.VHT_SGI == "1" then %> selected="selected"<% end%>>Short</option>
                    </select>
                </td>
            </tr>
            <% end %>
            <% if cfgs.VHT_STBC then %>
            <tr>
                <td>VHT STBC</td>
                <td>
                    <input type="radio" name="VHT_STBC" value="1" <% if cfgs.VHT_STBC == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="VHT_STBC" value="0" <% if cfgs.VHT_STBC == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.VHT_BW_SIGNAL then %>
            <tr>
                <td>VHT BW Signaling</td>
                <td>
                    <input type="radio" name="VHT_BW_SIGNAL" value="1" <% if cfgs.VHT_BW_SIGNAL == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="VHT_BW_SIGNAL" value="0" <% if cfgs.VHT_BW_SIGNAL == "0" then %> checked="checked"<% end %>/> Disable
                    <input type="radio" name="VHT_BW_SIGNAL" value="0" <% if cfgs.VHT_BW_SIGNAL == "2" then %> checked="checked"<% end %>/> Dynamic
                </td>
            </tr>
            <% end %>
            <% if cfgs.VHT_LDPC then %>
            <tr>
                <td>VHT LDPC</td>
                <td>
                    <input type="radio" name="VHT_LDPC" value="1" <% if cfgs.VHT_LDPC == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="VHT_LDPC" value="0" <% if cfgs.VHT_LDPC == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.BGProtection then %>
            <tr>
                <td>BG Protection Mode</td>
                <td>
                    <select name="BGProtection" style="width:auto">
                        <option value="0" <% if cfgs.BGProtection == "0" then %>selected="selected"<% end %>>Auto</option>
                        <option value="1" <% if cfgs.BGProtection == "1" then %>selected="selected"<% end %>>Always On</option>
                        <option value="2" <% if cfgs.BGProtection == "2" then %>selected="selected"<% end %>>Always Off</option>
                    </select>
                </td>
            </tr>
            <% end %>
            <% if cfgs.VHT_BW then %>
            <tr>
                <td>HT Protection</td>
                <td>
                    <input type="radio" name="HT_PROTECT" value="1" <% if cfgs.HT_PROTECT == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="HT_PROTECT" value="0" <% if cfgs.HT_PROTECT == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.BeaconPeriod then %>
            <tr>
                <td>Beacon Interval</td>
                <td>
                    <input name="BeaconPeriod" value="<%=cfgs.BeaconPeriod%>" />ms(range 20-999, default 100)
                </td>
            </tr>
            <% end %>
            <% if cfgs.DtimPeriod then %>
            <tr>
                <td>Data Beacon Rate (DTIM)&ensp;</td>
                <td>
                    <input name="DtimPeriod" value="<%=cfgs.DtimPeriod%>" />ms(range 1-255, default 1)
                </td>
            </tr>
            <% end %>
            <% if cfgs.FragThreshold then %>
            <tr>
                <td>Fragment Threshold</td>
                <td>
                    <input name="FragThreshold" value="<%=cfgs.FragThreshold%>" />(range 256-2346, default 2346)
                </td>
            </tr>
            <% end %>
            <% if cfgs.RTSThreshold then %>
            <tr>
                <td>RTS Threshold</td>
                <td>
                    <input name="RTSThreshold" value="<%=cfgs.RTSThreshold%>" />(range 256-2347, default 2347)
                </td>
            </tr>
            <% end %>
            <% if cfgs.TxPower then %>
            <tr>
                <td>TX Power</td>
                <td>
                    <input name="TxPower" value="<%=cfgs.TxPower%>" />dbm(range 1-100, default 100)
                </td>
            </tr>
            <% end %>
            <% if cfgs.TxPreamble then %>
            <tr>
                <td>Short Preamble</td>
                <td>
                    <input type="radio" name="TxPreamble" value="1" <% if cfgs.TxPreamble == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="TxPreamble" value="0" <% if cfgs.TxPreamble == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.ShortSlot then %>
            <tr>
                <td>Short Slot</td>
                <td>
                    <input type="radio" name="ShortSlot" value="1" <% if cfgs.ShortSlot == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="ShortSlot" value="0" <% if cfgs.ShortSlot == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.TxBurst then %>
            <tr>
                <td>TX Burst</td>
                <td>
                    <input type="radio" name="TxBurst" value="1" <% if cfgs.TxBurst == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="TxBurst" value="0" <% if cfgs.TxBurst == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.PktAggregate then %>
            <tr>
                <td>Packet Aggregate</td>
                <td>
                    <input type="radio" name="PktAggregate" value="1" <% if cfgs.PktAggregate == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="PktAggregate" value="0" <% if cfgs.PktAggregate == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
            <% if cfgs.IEEE80211H then %>
            <tr>
                <td>802.11H</td>
                <td>
                    <input type="radio" name="IEEE80211H" value="1" <% if cfgs.IEEE80211H == "1" then %> checked="checked"<% end %>/> Enable
                    <input type="radio" name="IEEE80211H" value="0" <% if cfgs.IEEE80211H == "0" then %> checked="checked"<% end %>/> Disable
                </td>
            </tr>
            <% end %>
        </table>


    </fieldset>
    <div class="cbi-page-actions">
		<input class="cbi-button cbi-button-link" value="Back" type="button" onclick="history.back();" />
        <input class="cbi-button cbi-button-apply" value="Reload" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "reload", devname)%>");' />
        <input class="cbi-button cbi-button-save" value="Save" type="submit" />
        <input class="cbi-button cbi-button-apply" name="__apply" value="Save & Apply" type="submit" />
        <input class="cbi-button cbi-button-reset" value="Reset" type="reset" />
    </div>
</form>


<form method="post" name="cbi2" action="<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg_raw", devname)%>" enctype="multipart/form-data" onreset="return cbi_validate_reset(this)" onsubmit="return cbi_validate_form(this, 'Some fields are invalid, cannot save values!')" autocomplete="off">
    <fieldset class="cbi-section">
        <legend> Raw Configurations ( Edit WiFi profile directly )</legend>
        <p> <span style="color: red"><b>WARNING</b></span> : DO NOT MESS WITH IT IF YOU DON'T UNDERSTAND IT!</p>
        <textarea name="raw" id="raw" style="width:98%; height: 200px;"><%
            local fd = io.open(dev.profile)
            for line in fd:lines() do
                print(line)
            end
        %></textarea>
    </fieldset>
    <div class="cbi-page-actions">
        <input class="cbi-button cbi-button-reset" value="Reset" onclick="location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg_view", devname)%>'" type="button" />
        <input class="cbi-button cbi-button-save" id="save" value="Save" type="submit" onclick="if (confirm('You are going to overwrite the profile directly, are you sure?')) return true; else return false;" />
        <input class="cbi-button cbi-button-apply" id="reset" value="Restore Profile to Factory Setting" type="button" onclick="if (confirm('You are going to reset the profile of <%=devname%> to factory default, are you sure?')) location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg_reset", devname)%>'" />
    </div>
</form>


<script type="text/javascript">
    function wifi_reload(url) {
        window.scrollTo(0, 0);
        document.getElementById('loading').style.display="";
        XHR.get(url, null,
            function(x)
            {
                console.log(x);
                document.getElementById("loading").style.display="none";
                window.location.reload();
            }
        );
    }

    function toggle_atf(o) {
        if (o.getAttribute("value") == "1") {
            document.getElementById("VOW_Airtime_Fairness_En").value = "0";
            o.setAttribute("value", "0");
            o.className = "cbi-button cbi-button-add";
            o.innerHTML = "Enable ATC";
        } else {
            document.getElementById("VOW_Airtime_Fairness_En").value = "1";
            o.setAttribute("value", "1");
            o.className = "cbi-button cbi-button-remove";
            o.innerHTML = "Disable ATC";
        }
    }

    function toggle_atc(o) {
        if (o.getAttribute("value") == "1") {
            document.getElementById("VOW_BW_Ctrl").value = "0";
            o.setAttribute("value", "0");
            o.className = "cbi-button cbi-button-add";
            o.innerHTML = "Enable ATC";
            document.getElementById("atc-table").style.display = "none";
        } else {
            document.getElementById("VOW_BW_Ctrl").value = "1";
            o.setAttribute("value", "1");
            o.className = "cbi-button cbi-button-remove";
            o.innerHTML = "Disable ATC";
            document.getElementById("atc-table").style.display = "";
        }
    }

    function initList(selobj, list, selvals, value, text){
        var sel = {};
        var id = selobj.id;

        if (typeof(selvals) != "object")
            sel[0] = selvals;
        else
            sel = selvals;

        selobj.innerHTML = "";
        for (var i in list) {
            var opt = document.createElement('option');

            if(value)
                opt.value = list[i][value];
            else
                opt.value = list[i].value;

            if(text)
                opt.text = list[i][text];
            else
                opt.text = list[i].text;

            selobj.appendChild(opt);
        }

        var selv = null;
        for (var k in sel) {
            //console.log("[initList][" + id + "] sel[" + k + "]=" + sel[k]);
            for (var i in selobj.options){
                if (selobj.options[i].value == sel[k]){
                    selobj.options[i].selected = true;
                    selv = sel[k];
                    //console.log("[initList][" + id + "] found selv=" + selv);
                    break;
                }
            }

            if (selv) break;
        }

        if (!selv) {
            selv = selobj.value;
            //console.log("[initList][" + id + "] !selv, selv=" + selv);
        }

        return selv;
    }

</script>

<%+footer%>
