
<%+header%>
<!--
	This module is a demo to configure MTK' proprietary WiFi driver.
	Basic idea is to bypass uci and edit wireless profile (mt76xx.dat) directly.
	LuCI's WiFi configuration is more logical and elegent, but it's quite tricky to
	translate uci into MTK's WiFi profile (like we did in "uci2dat").

	Hua Shao <nossiac@163.com>
	- - - - - - - - - - - - - - - - -
 
	For MT7615+MT7615, MT7603+MT7615 and MT7603+MT7612
	https://github.com/Azexios/openwrt-r3p-mtk
-->

<%
local disp = require "luci.dispatcher"
-- local request  = disp.context.path
local request = disp.context.request
local mtkwifi = require("mtkwifi")
local devname = request[5]
local devs = mtkwifi.get_all_devs()
local dev = {}
for _,v in ipairs(devs) do
	if v.devname == devname then
		dev = v
	end
end

local cfgs = mtkwifi.load_profile(dev.profile)
%>

<style type="text/css">
<% if mt1 ~= "" then %>
#container {visibility: hidden;}
<% end %>
table {
  border-collapse:separate;
  border-spacing:9px 5px
}
.mh {
 color:#1976D7;
 font-weight:900;
 font-size:1.1rem;
}
.he1 {
 margin-left:8px;
 display:inline-block;
 min-width:220px;
}
@media screen and (max-device-width: 600px) {
 header .pull-right {
  flex:none;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  margin:.2em 5px .2em auto;
  padding:0
 }
 input,
 textarea,
 select,
 .cbi-dropdown > ul > li {
  font-size:1em!important;
  height:30px;
 }
}
</style>

<div id="container">
	<div id="loading" style="margin-top: 1em; display: none;">
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" />
		&nbsp;&nbsp;&nbsp; Please waiting......
	</div>

	<form method="post" name="cbi" action="<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg", devname)%>" enctype="multipart/form-data" onreset="return cbi_validate_reset(this)" onsubmit="return cbi_validate_form(this, 'Some fields are invalid, cannot save values!')" autocomplete="off">
		<fieldset class="cbi-section">
			<legend><span class="ren"> Device Configurations - <%=devname%></span> 
			<%
			local diff = mtkwifi.diff_profile(dev.profile)
			if next(diff) ~= nil then
			%>
			<span id="reload" style="color:red; display:none;">(<a href="#" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "reload", devname)%>");return false;'>reload</a> to apply changes)</span>
			<%
				end
			%>
			</legend>
			<table id="dev-cfg-basic" class="cbi-section-table">
				<% if cfgs.WirelessMode then %>
				<tr>
					<td>Mode</td>
					<td>
						<select style="width:auto" name="WirelessMode" id="WirelessMode" onchange="WirelessMode_onchange(this.options[this.options.selectedIndex].value)">
							<% if devname == "mt7615.2" then %>
								<option value="2" <% if cfgs.WirelessMode == "2" then %> selected="selected"<% end%>>2 - A only in 5G</option>
								<option value="8" <% if cfgs.WirelessMode == "8" then %> selected="selected"<% end%>>8 - A/AN mixed 5G</option>
								<option value="14" <% if cfgs.WirelessMode == "14" then %> selected="selected"<% end%>>14 - A/AN/AC mixed 5G</option>
							<% else %>
								<option value="0" <% if cfgs.WirelessMode == "0" then %> selected="selected"<% end%>>0 - B/G mixed</option>
								<option value="1" <% if cfgs.WirelessMode == "1" then %> selected="selected"<% end%>>1 - B only</option>
								<option value="9" <% if cfgs.WirelessMode == "9" then %> selected="selected"<% end%>>9 - B/G/N mixed</option>
								<option value="10" <% if cfgs.WirelessMode == "10" then %> selected="selected"<% end%>>10 - G/N mixed</option>
							<% end %>
						</select>
					</td>
				</tr>
				<% end %>
				<% if cfgs.Channel then %>
				<tr>
					<td>Channel</td>
					<td>
					<% if cfgs.ApCliEnable == "1" then %>
						<select style="width:auto" name="Channel" disabled="disabled">
							<option selected="selected">APClient/Repeater Mode</option>
						</select>
					<% else %>
						<select style="width:auto; min-width:185px;" name="Channel" id="Channel" onchange="ch_onchange(this.options[this.options.selectedIndex].value)"></select>
					<% end %>
					</td>
				</tr>
				<% end %>
				<% if cfgs.ACSCheckTime then %>
				<tr id="auto_ch" style="display:none;">
					<td>Choosing the Channel</td>
					<td>
						<select name="ACSCheckTime" style="width:auto">
							<option value="0" <% if cfgs.ACSCheckTime == "0" then %> selected="selected"<% end %>>When turned on</option>
							<option value="1" <% if cfgs.ACSCheckTime == "1" then %> selected="selected"<% end %>>Every hour</option>
							<option value="6" <% if cfgs.ACSCheckTime == "6" then %> selected="selected"<% end %>>Every 6 hours</option>
							<option value="12" <% if cfgs.ACSCheckTime == "12" then %> selected="selected"<% end %>>Every 12 hours</option>
							<option value="24" <% if cfgs.ACSCheckTime == "24" then %> selected="selected"<% end %>>Every 24 hours</option>
						</select>
					</td>
				</tr>
				<% end %>
				<% if cfgs.AutoChannelSkipList then %>
				<tr id="skip_list" style="display:none;">
					<td>AutoChannelSkipList</td>
					<td>
						<% if devname == "mt7615.2" then %>
							<input name="AutoChannelSkipList" value="<%=cfgs.AutoChannelSkipList%>" /><span class="he1">Example: 144;165</span>
						<% else %>
							<input name="AutoChannelSkipList" value="<%=cfgs.AutoChannelSkipList%>" /><span class="he1">Example: 2;13;14</span>
						<% end %>
					</td>
				</tr>
				<% end %>
				<% if cfgs.CountryCode then %>
				<tr>
					<td>Country Code</td>
					<td>
						<select name="CountryCode" style="width:auto">
							<option value="RU" <% if cfgs.CountryCode == "RU" then %> selected="selected"<% end %>>RU (Russia)</option>
							<option value="US" <% if cfgs.CountryCode == "US" then %> selected="selected"<% end %>>US (United States)</option>
							<option value="JP" <% if cfgs.CountryCode == "JP" then %> selected="selected"<% end %>>JP (Japan)</option>
							<option value="FR" <% if cfgs.CountryCode == "FR" then %> selected="selected"<% end %>>FR (France)</option>
							<option value="TW" <% if cfgs.CountryCode == "TW" then %> selected="selected"<% end %>>TW (Taiwan)</option>
							<option value="IE" <% if cfgs.CountryCode == "IE" then %> selected="selected"<% end %>>IE (Ireland)</option>
							<option value="HK" <% if cfgs.CountryCode == "HK" then %> selected="selected"<% end %>>HK (Hong Kong)</option>
							<option value="NONE" <% if cfgs.CountryCode == "NONE" then %> checked="checked"<% end %>>NONE</option>
						</select>
					</td>
				</tr>
				<% end %>
				<tr>
					<td>Country Region</td>
					<td>
						<% if devname == "mt7615.2" then %>
							<% if cfgs.CountryRegionABand then %>
								<select name="CountryRegionABand" style="width:auto;" id="Region" onchange="CountryRegion_onchange(this.options[this.options.selectedIndex].value)">
									<option value="0" <% if cfgs.CountryRegionABand == "0" then %> selected="selected"<% end%>>0: Ch36~64, Ch149~165</option>
									<option value="1" <% if cfgs.CountryRegionABand == "1" then %> selected="selected"<% end%>>1: Ch36~64, Ch100~140</option>
									<option value="2" <% if cfgs.CountryRegionABand == "2" then %> selected="selected"<% end%>>2: Ch36~64</option>
									<option value="3" <% if cfgs.CountryRegionABand == "3" then %> selected="selected"<% end%>>3: Ch52~64, Ch149~161</option>
									<option value="4" <% if cfgs.CountryRegionABand == "4" then %> selected="selected"<% end%>>4: Ch149~165</option>
									<option value="5" <% if cfgs.CountryRegionABand == "5" then %> selected="selected"<% end%>>5: Ch149~161</option>
									<option value="6" <% if cfgs.CountryRegionABand == "6" then %> selected="selected"<% end%>>6: Ch36~48</option>
									<option value="7" <% if cfgs.CountryRegionABand == "7" then %> selected="selected"<% end%>>7: Ch36~64, Ch100~140, Ch149~165</option>
									<option value="8" <% if cfgs.CountryRegionABand == "8" then %> selected="selected"<% end%>>8: Ch52~64</option>
									<!--
									<option value="9" <% if cfgs.CountryRegionABand == "9" then %> selected="selected"<% end%>>9: Ch36~64, Ch100~116, Ch132~140, Ch149~165</option>
									-->
									<option value="10" <% if cfgs.CountryRegionABand == "10" then %> selected="selected"<% end%>>10: Ch36~48, Ch149~165</option>
									<option value="11" <% if cfgs.CountryRegionABand == "11" then %> selected="selected"<% end%>>11: Ch36~64, Ch100~120, Ch149~161</option>
									<option value="12" <% if cfgs.CountryRegionABand == "12" then %> selected="selected"<% end%>>12: Ch36~64, Ch100~144</option>
									<option value="13" <% if cfgs.CountryRegionABand == "13" then %> selected="selected"<% end%>>13: Ch36~64, Ch100~144, Ch149~165</option>
									<!--
									<option value="14" <% if cfgs.CountryRegionABand == "14" then %> selected="selected"<% end%>>14: Ch36~64, Ch100~116, Ch132~144, Ch149~165</option>
									-->
									<option value="15" <% if cfgs.CountryRegionABand == "15" then %> selected="selected"<% end%>>15: Ch149~173</option>
									<option value="16" <% if cfgs.CountryRegionABand == "16" then %> selected="selected"<% end%>>16: Ch52~64, Ch149~165</option>
									<option value="17" <% if cfgs.CountryRegionABand == "17" then %> selected="selected"<% end%>>17: Ch36~48, Ch149~161</option>
									<option value="18" <% if cfgs.CountryRegionABand == "18" then %> selected="selected"<% end%>>18: Ch36~64, Ch100~116, Ch132~140</option>
									<option value="19" <% if cfgs.CountryRegionABand == "19" then %> selected="selected"<% end%>>19: Ch56~64, Ch100~140, Ch149~161</option>
									<option value="20" <% if cfgs.CountryRegionABand == "20" then %> selected="selected"<% end%>>20: Ch36~64, Ch100~124, Ch149~161</option>
									<option value="21" <% if cfgs.CountryRegionABand == "21" then %> selected="selected"<% end%>>21: Ch36~64, Ch100~140, Ch149~161</option>
									<option value="22" <% if cfgs.CountryRegionABand == "22" then %> selected="selected"<% end%>>22: Ch100~140</option>
									<option value="35" <% if cfgs.CountryRegionABand == "35" then %> selected="selected"<% end%>>35: Ch36~64, Ch132~144, Ch149~165</option>
								</select>
							<% end %>
						<% else %>
							<% if cfgs.CountryRegion then %>
								<select name="CountryRegion" style="width:auto;" id="Region" onchange="CountryRegion_onchange(this.options[this.options.selectedIndex].value)">
									<option value="0" <% if cfgs.CountryRegion == "0" then %> selected="selected"<% end%>>0: Ch1~11</option>
									<option value="1" <% if cfgs.CountryRegion == "1" then %> selected="selected"<% end%>>1: Ch1~13</option>
									<option value="2" <% if cfgs.CountryRegion == "2" then %> selected="selected"<% end%>>2: Ch10~11</option>
									<option value="3" <% if cfgs.CountryRegion == "3" then %> selected="selected"<% end%>>3: Ch10~13</option>
									<option value="4" <% if cfgs.CountryRegion == "4" then %> selected="selected"<% end%>>4: Ch14</option>
									<option value="5" <% if cfgs.CountryRegion == "5" then %> selected="selected"<% end%>>5: Ch1~14</option>
									<option value="6" <% if cfgs.CountryRegion == "6" then %> selected="selected"<% end%>>6: Ch3~9</option>
									<option value="7" <% if cfgs.CountryRegion == "7" then %> selected="selected"<% end%>>7: Ch5~13</option>
									<option value="31" <% if cfgs.CountryRegion == "31" then %> selected="selected"<% end%>>31: Ch1~11, Ch12~14</option>
									<option value="32" <% if cfgs.CountryRegion == "32" then %> selected="selected"<% end%>>32: Ch1~11, Ch12~13</option>
									<option value="33" <% if cfgs.CountryRegion == "33" then %> selected="selected"<% end%>>33: Ch1~14</option>
								</select>
							<% end %>
						<% end %>
					</td>
				</tr>
				<% if devname == "mt7615.1" then %>
					<% if cfgs.HT_OpMode then %>
					<tr>
						<td>Operating Mode</td>
						<td>
							<select style="width:auto" name="HT_OpMode">
								<option value="0" <% if cfgs.HT_OpMode == "0" then %> selected="selected"<% end%>>Mixed Mode</option>
								<option value="1" <% if cfgs.HT_OpMode == "1" then %> selected="selected"<% end%>>Green Field</option>
							</select>
						</td>
					</tr>
					<% end %>
				<% end %>
				<% if cfgs.HT_GI then %>
				<tr>
					<td>HT Guard Interval</td>
					<td>
						<select style="width:auto" name="HT_GI">
							<option value="0" <% if cfgs.HT_GI == "0" then %> selected="selected"<% end%>>Long</option>
							<option value="1" <% if cfgs.HT_GI == "1" then %> selected="selected"<% end%>>Short</option>
						</select>
					</td>
				</tr>
				<% end %>
				<% if devname == "mt7615.2" then %>
					<% if cfgs.VHT_SGI then %>
					<tr>
						<td>VHT Guard Interval</td>
						<td>
							<select style="width:auto" name="VHT_SGI">
								<option value="0" <% if cfgs.VHT_SGI == "0" then %> selected="selected"<% end%>>Long</option>
								<option value="1" <% if cfgs.VHT_SGI == "1" then %> selected="selected"<% end%>>Short</option>
							</select>
						</td>
					</tr>
					<% end %>
				<% end %>
				<tr>
					<td>Channel BandWidth</td>
					<td>
						<select style="width:auto" name="__bw" id="__bw" onchange="Bw_onchange(this.options[this.options.selectedIndex].value)">
							<% if devname == "mt7615.2" then %>
								<option value="20" <% if dev.__bw == "20" then %> selected="selected"<% end%>>20 MHz</option>
								<option value="40" <% if dev.__bw == "40" then %> selected="selected"<% end%>>40 MHz</option>
								<option value="80" <% if dev.__bw == "80" then %> selected="selected"<% end%>>80 MHz</option>
								<% if mt1 ~= "mt7612" then %>
								<option value="160" <% if dev.__bw == "160" then %> selected="selected"<% end%>>160 MHz</option>
								<option value="161" <% if dev.__bw == "161" then %> selected="selected"<% end%>>80+80 MHz</option>
								<% end %>
							<% else %>
								<% if cfgs.HT_BW then %>
									<option value="20" <% if dev.__bw == "20" then %> selected="selected"<% end%>>20 MHz</option>
									<option value="40" <% if dev.__bw == "40" then %> selected="selected"<% end%>>40 MHz</option>
									<option value="60" <% if dev.__bw == "60" then %> selected="selected"<% end%>>20/40 MHz</option>
								<% end %>
							<% end %>
						</select>
					</td>
				</tr>
				<% if devname == "mt7615.1" then %>
					<% if cfgs.HT_EXTCHA then %>
						<tr id="ext_ch" style="display:none;">
							<td>40MHz Ext Channel</td>
							<td>
								<% if cfgs.ApCliEnable == "1" then %>
									<select style="width:auto" name="ExtChannel" disabled="disabled">
										<option selected="selected">APClient/Repeater Mode</option>
									</select>
								<% else %>
									<select style="width:auto; min-width:180px;" name="HT_EXTCHA" id="HT_EXTCHA"></select>
								<% end %>
							</td>
						</tr>
						<tr id="ext_cha" style="display:none;">
							<td>40MHz Ext Channel</td>
							<td>
								<select style="width:auto" name="HT_EXTCHA" disabled="disabled"><option selected="selected">Auto</option></select>
							</td>
						</tr>
					<% end %>
				<% end %>
				<% if devname == "mt7615.2" then %>
					<tr id="8080" style="display:none;">
						<td>80+80MHz 2nd Channel<span class="mh" data-tooltip="Use the 2nd Channel above the main one.">*</span></td>
						<td>
							<% if cfgs.ApCliEnable == "1" then %>
								<select style="width:auto" name="VHT_Sec80_Channel" disabled="disabled">
									<option selected="selected">APClient/Repeater Mode</option>
								</select
							<% else %>
								 <select style="width:auto; min-width:180px;" name="VHT_Sec80_Channel" id="VHT_Sec80_Channel"></select> 
							<% end %>
						</td>
					</tr>
					<tr id="8080a" style="display:none;">
						<td>80+80MHz 2nd Channel</td>
						<td>
							<select style="width:auto" name="VHT_Sec80_Channel" disabled="disabled"><option selected="selected">Auto</option></select>
						</td>
					</tr>
				<% end %>
<!--
				<% if cfgs.DfsEnable then %>
					<% if cfgs.WirelessMode == "14" or cfgs.WirelessMode == "8" or cfgs.WirelessMode == "2" then %>
					<tr>
						<td>DFS</td>
						<td>
							<input type="radio" name="DfsEnable" value="1" <% if cfgs.DfsEnable == "1" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="DfsEnable" value="0" <% if cfgs.DfsEnable == "0" then %> checked="checked"<% end %>/> Disable
						</td>
					</tr>
					<% end %>
				<% end %>
-->
				<% if cfgs.HT_AMSDU then %>
				<tr>
					<td>A-MSDU</td>
					<td>
						<input type="radio" name="HT_AMSDU" value="1" <% if cfgs.HT_AMSDU == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="HT_AMSDU" value="0" <% if cfgs.HT_AMSDU == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.HT_AutoBA then %>
				<tr>
					<td>Auto Block ACK</td>
					<td>
						<input type="radio" name="HT_AutoBA" value="1" <% if cfgs.HT_AutoBA == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="HT_AutoBA" value="0" <% if cfgs.HT_AutoBA == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.HT_BADecline then %>
				<tr>
					<td>Decline BA Request</td>
					<td>
						<input type="radio" name="HT_BADecline" value="1" <% if cfgs.HT_BADecline == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="HT_BADecline" value="0" <% if cfgs.HT_BADecline == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.HT_STBC then %>
				<tr>
					<td>HT STBC</td>
					<td>
						<input type="radio" name="HT_STBC" value="1" <% if cfgs.HT_STBC == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="HT_STBC" value="0" <% if cfgs.HT_STBC == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if devname == "mt7615.2" then %>
					<% if cfgs.VHT_STBC then %>
					<tr>
						<td>VHT STBC</td>
						<td>
							<input type="radio" name="VHT_STBC" value="1" <% if cfgs.VHT_STBC == "1" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="VHT_STBC" value="0" <% if cfgs.VHT_STBC == "0" then %> checked="checked"<% end %>/> Disable
						</td>
					</tr>
					<% end %>
				<% end %>
<!--
				<% if cfgs.HT_DisallowTKIP then %>
				<tr>
					<td>HT Disallow TKIP</td>
					<td>
						<input type="radio" name="HT_DisallowTKIP" value="1" <% if cfgs.HT_DisallowTKIP == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="HT_DisallowTKIP" value="0" <% if cfgs.HT_DisallowTKIP == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
-->
				<% if devname == "mt7615.1" then %>
					<% if cfgs.HT_LDPC then %>
					<tr>
						<td>HT LDPC</td>
						<td>
							<input type="radio" name="HT_LDPC" value="1" <% if cfgs.HT_LDPC == "1" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="HT_LDPC" value="0" <% if cfgs.HT_LDPC == "0" then %> checked="checked"<% end %>/> Disable
						</td>
					</tr>
					<% end %>
				<% end %>
				<% if devname == "mt7615.2" then %>
<!--
					<% if cfgs.VHT_BW_SIGNAL then %>
					<tr>
						<td>VHT BW Signaling</td>
						<td>
							<input type="radio" name="VHT_BW_SIGNAL" value="1" <% if cfgs.VHT_BW_SIGNAL == "1" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="VHT_BW_SIGNAL" value="0" <% if cfgs.VHT_BW_SIGNAL == "0" then %> checked="checked"<% end %>/> Disable
							<input type="radio" name="VHT_BW_SIGNAL" value="0" <% if cfgs.VHT_BW_SIGNAL == "2" then %> checked="checked"<% end %>/> Dynamic
						</td>
					</tr>
					<% end %>
-->
					<% if cfgs.VHT_LDPC then %>
					<tr>
						<td>VHT LDPC</td>
						<td>
							<input type="radio" name="VHT_LDPC" value="1" <% if cfgs.VHT_LDPC == "1" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="VHT_LDPC" value="0" <% if cfgs.VHT_LDPC == "0" then %> checked="checked"<% end %>/> Disable
						</td>
					</tr>
					<% end %>
				<% end %>
<!--
				<% if cfgs.BGProtection then %>
				<tr>
					<td>BG Protection Mode</td>
					<td>
						<select name="BGProtection" style="width:auto">
							<option value="0" <% if cfgs.BGProtection == "0" then %>selected="selected"<% end %>>Auto</option>
							<option value="1" <% if cfgs.BGProtection == "1" then %>selected="selected"<% end %>>Always On</option>
							<option value="2" <% if cfgs.BGProtection == "2" then %>selected="selected"<% end %>>Always Off</option>
						</select>
					</td>
				</tr>
				<% end %>
-->
				<% if devname == "mt7615.1" then %>
					<% if cfgs.HT_PROTECT then %>
						<tr>
							<td>HT Protection</td>
							<td>
								<input type="radio" name="HT_PROTECT" value="1" <% if cfgs.HT_PROTECT == "1" then %> checked="checked"<% end %>/> Enable
								<input type="radio" name="HT_PROTECT" value="0" <% if cfgs.HT_PROTECT == "0" then %> checked="checked"<% end %>/> Disable
							</td>
						</tr>
					<% end %>
				<% end %>
				<% if cfgs.BeaconPeriod then %>
				<tr>
					<td>Beacon Interval</td>
					<td>
						<input name="BeaconPeriod" value="<%=cfgs.BeaconPeriod%>" /><span class="he1">ms(range 20-999, default 100)</span>
					</td>
				</tr>
				<% end %>
				<% if cfgs.DtimPeriod then %>
				<tr>
					<td>Data Beacon Rate (DTIM)</td>
					<td>
						<input name="DtimPeriod" value="<%=cfgs.DtimPeriod%>" /><span class="he1">ms(range 1-255, default 1)</span>
					</td>
				</tr>
				<% end %>
				<% if cfgs.FragThreshold then %>
				<tr>
					<td>Fragment Threshold</td>
					<td>
						<input name="FragThreshold" value="<%=cfgs.FragThreshold%>" /><span class="he1">(range 256-2346, default 2346)</span>
					</td>
				</tr>
				<% end %>
				<% if cfgs.RTSThreshold then %>
				<tr>
					<td>RTS Threshold</td>
					<td>
						<input name="RTSThreshold" value="<%=cfgs.RTSThreshold%>" /><span class="he1">(range 256-2347, default 2347)</span>
					</td>
				</tr>
				<% end %>
				<tr>
					<td>Session Idle Timeout</td>
					<td>
						<input name="IdleTimeout" value="<%=cfgs.IdleTimeout%>" /><span class="he1">s(range 60-321765887, default 600)</span>
					</td>
				</tr>
				<% if cfgs.MacAddress then %>
				<tr>
					<td>Change MAC-Address</td>
					<td>
						<input name="MacAddress" value="<%=cfgs.MacAddress%>" /><span class="he1">e.g. 01:23:45:67:89:AB</span>
					</td>
				</tr>
				<% end %>
<!--
				<% if cfgs.TxPower then %>
				<tr>
					<td>TX Power</td>
					<td>
						<input name="TxPower" value="<%=cfgs.TxPower%>" disabled="disabled" /> (range 1-100, default 100)
					</td>
				</tr>
				<% end %>
-->
				<% if cfgs.SKUenable then %>
				<tr>
					<td>TX Power Low</td>
					<td>
						<input type="radio" name="SKUenable" value="1" <% if cfgs.SKUenable == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="SKUenable" value="0" <% if cfgs.SKUenable == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.TxPreamble then %>
				<tr>
					<td>Short Preamble</td>
					<td>
						<input type="radio" name="TxPreamble" value="1" <% if cfgs.TxPreamble == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="TxPreamble" value="0" <% if cfgs.TxPreamble == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.ShortSlot then %>
				<tr>
					<td>Short Slot</td>
					<td>
						<input type="radio" name="ShortSlot" value="1" <% if cfgs.ShortSlot == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="ShortSlot" value="0" <% if cfgs.ShortSlot == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
<!--
				<% if cfgs.PktAggregate then %>
				<tr>
					<td>Packet Aggregate</td>
					<td>
						<input type="radio" name="PktAggregate" value="1" <% if cfgs.PktAggregate == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="PktAggregate" value="0" <% if cfgs.PktAggregate == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.IEEE80211H then %>
					<% if cfgs.WirelessMode == "14" or cfgs.WirelessMode == "8" or cfgs.WirelessMode == "2" then %>
					<tr>
						<td>802.11H</td>
						<td>
							<input type="radio" name="IEEE80211H" value="1" <% if cfgs.IEEE80211H == "1" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="IEEE80211H" value="0" <% if cfgs.IEEE80211H == "0" then %> checked="checked"<% end %>/> Disable
						</td>
					</tr>
					<% end %>
				<% end %>
-->
				<% if cfgs.TxBurst then %>
				<tr>
					<td>TX Burst</td>
					<td>
						<input type="radio" name="TxBurst" value="1" <% if cfgs.TxBurst == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="TxBurst" value="0" <% if cfgs.TxBurst == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.VOW_Airtime_Fairness_En then %>
				<tr>
					<td>Airtime Fairness</td>
					<td>
						<input type="radio" name="VOW_Airtime_Fairness_En" value="1" <% if cfgs.VOW_Airtime_Fairness_En == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="VOW_Airtime_Fairness_En" value="0" <% if cfgs.VOW_Airtime_Fairness_En == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.ITxBfEn then %>
				<tr>
					<td>Beamforming Implicit</td>
					<td>
						<input type="radio" name="ITxBfEn" value="1" <% if cfgs.ITxBfEn == "1" then %> checked="checked"<% end %>/> Enable
						<input type="radio" name="ITxBfEn" value="0" <% if cfgs.ITxBfEn == "0" then %> checked="checked"<% end %>/> Disable
					</td>
				</tr>
				<% end %>
				<% if cfgs.ETxBfEnCond then %>
				<tr>
					<td>Beamforming Explicit</td>
					<% if devname == "mt7615.2" then %>
						<td>
							<input type="radio" name="ETxBfEnCond" class="ETxBfEnCond" onchange="beam_onchange(1);" value="1" <% if cfgs.ETxBfEnCond == "1" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="ETxBfEnCond" class="ETxBfEnCond" onchange="beam_onchange(0);" value="0" <% if cfgs.ETxBfEnCond == "0" then %> checked="checked"<% end %>/> Disable
						</td>
					<% else %>
						<td>
							<input type="radio" name="ETxBfEnCond" value="1" <% if cfgs.ETxBfEnCond == "1" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="ETxBfEnCond" value="0" <% if cfgs.ETxBfEnCond == "0" then %> checked="checked"<% end %>/> Disable
						</td>
					<% end %>
				</tr>
				<% end %>
				<% if cfgs.MUTxRxEnable then %>
					<tr id="mimo" style="display:none;">
						<td>MU-MIMO</td>
						<td>
							<input type="radio" name="MUTxRxEnable" value="3" <% if cfgs.MUTxRxEnable == "3" then %> checked="checked"<% end %>/> Enable
							<input type="radio" name="MUTxRxEnable" value="0" <% if cfgs.MUTxRxEnable == "0" then %> checked="checked"<% end %>/> Disable
						</td>
					</tr>
				<% end %>
			</table>


		</fieldset>
		<div class="cbi-page-actions">
			<input class="cbi-button cbi-button-link" value="Back" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi")%>'" />
			<input class="cbi-button cbi-button-positive" value="Save" type="submit" />
			<input class="cbi-button cbi-button-apply" value="Save & Apply" type="submit" onclick='save_apply()' />
			<input class="cbi-button cbi-button-reset" value="Reset" type="reset" />
		</div>
	</form>


	<form method="post" name="cbi2" action="<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg_raw", devname)%>" enctype="multipart/form-data" onreset="return cbi_validate_reset(this)" onsubmit="return cbi_validate_form(this, 'Some fields are invalid, cannot save values!')" autocomplete="off">
		<fieldset class="cbi-section">
			<legend> Raw Configurations ( Edit WiFi profile directly )</legend>
			<p> <span style="color: red"><b>WARNING</b></span> : DO NOT MESS WITH IT IF YOU DON'T UNDERSTAND IT!</p>
			<textarea name="raw" id="raw" style="width:98%; height: 200px;"><%
				local fd = io.open(dev.profile)
				for line in fd:lines() do
					print(line)
				end
			%></textarea>
		</fieldset>
		<div class="cbi-page-actions">
			<input class="cbi-button cbi-button-reset" value="Reset" onclick="location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg_view", devname)%>'" type="button" />
			<input class="cbi-button cbi-button-save" id="save" value="Save" type="submit" onclick="if (confirm('You are going to overwrite the profile directly, are you sure?')) return true; else return false;" />
			<input class="cbi-button cbi-button-apply" id="reset" value="Restore Profile to Factory Setting" type="button" onclick="if (confirm('You are going to reset the profile of <%=devname%> to factory default, are you sure?')) location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg_reset", devname)%>'" />
		</div>
	</form>
</div>


<script src="/luci-static/resources/jquery/jquery-1.4.js"></script>
<script type="text/javascript">
function wifi_reload(url) {
	window.scrollTo(0, 0);
	document.getElementById('loading').style.display="";
	reload();
	XHR.get(url, null,
		function(x)
		{
			console.log(x);
			document.getElementById("loading").style.display="none";
			window.location.reload();
		}
	);
}

function reload() {
	setInterval(function() {
		if (navigator.onLine) {
			window.location.reload();
		}
	}, 20000);
}

function save_apply() {
	sessionStorage.setItem("save_apply", "true");
}

function WirelessMode_onchange(mode) {
	getBw(mode, null);
}

function Bw_onchange(bw, ch) {
	var ch_val;	

	if (!ch){
		var ch_o = document.getElementById('Channel');

		if (ch_o)
			ch_val = ch_o.value;

		if (ch_val == "")
			ch_val = "<%=cfgs.Channel%>";
	} else {
		ch_val = ch
	}

	if ($('#Channel').length > 0) {
		var ch_a = document.getElementById('Channel').value;
	} else {
		var ch_a = ""
	}

	if (bw == "161") {
		if (ch_a == "0") {
			document.getElementById("8080a").style.display = "";
		} else {
			document.getElementById("8080").style.display = "";
			if ($('#VHT_Sec80_Channel').length > 0) {
			get5G2nd80MhzChannelList(bw, ch_val);
			}
		}
	} else if (bw == "40" || bw == "60") {
		if (ch_a == "0") {
			if ($('#ext_ch').length > 0) {
				document.getElementById("ext_cha").style.display = "";
			} else if ($('#8080').length > 0) {
				document.getElementById("8080").style.display = "none";
				document.getElementById("8080a").style.display = "none";
			}
		} else {
			if ($('#ext_ch').length > 0) {
				document.getElementById("ext_ch").style.display = "";
				if ($('#HT_EXTCHA').length > 0) {
				getHTExtChannel(bw, ch_val);
				}
			} else if ($('#8080').length > 0) {
				document.getElementById("8080").style.display = "none";
				document.getElementById("8080a").style.display = "none";
			}
		}
	} else {
		if ($('#8080').length > 0) {
			document.getElementById("8080").style.display = "none";
			document.getElementById("8080a").style.display = "none";
		} else if ($('#ext_ch').length > 0) {
			document.getElementById("ext_ch").style.display = "none";
			document.getElementById("ext_cha").style.display = "none";
		}
	}	
}

function beam_onchange(to) {
	if (to == "1") {
		document.getElementById("mimo").style.display = "";
	} else {
		document.getElementById("mimo").style.display = "none";
	}
}

function ch_onchange(ch) {
	if ($('#Channel').val() > 0) {
		getBw(null, ch);
	}
	
	if (ch == "0") {
		var cbw = document.getElementById('__bw').value;
		
		document.getElementById("auto_ch").style.display = "";
		document.getElementById("skip_list").style.display = "";
		if (cbw == "161") {
			if ($('#8080').length > 0) {
				document.getElementById("8080a").style.display = "";
				document.getElementById("8080").style.display = "none";
			}			
		} else if (cbw == "40" || cbw == "60") {
			if ($('#ext_ch').length > 0) {
				document.getElementById("ext_cha").style.display = "";
				document.getElementById("ext_ch").style.display = "none";
			}
		}
	} else {
		document.getElementById("auto_ch").style.display = "none";
		document.getElementById("skip_list").style.display = "none";
		if ($('#8080').length > 0) {
			document.getElementById("8080a").style.display = "none";
		}
		if ($('#ext_ch').length > 0) {
			document.getElementById("ext_cha").style.display = "none";
		}
	}
}

function GetCountryRegion(mode) {
	var cr_o = document.getElementById('Region');
	var cr = "";

	if (cr_o) {
		cr = cr_o.value;
	}

	if (cr == "") {
		if (is_mode_gband(mode)) {
			cr = "<%=cfgs.CountryRegion%>";
		} else if (is_mode_aband(mode)) {
			cr = "<%=cfgs.CountryRegionABand%>";
		} else {
			alert("Cannot get valid CountryRegion from invalid WireleeMode");
		}
	}

	return cr;
}
	
function getBw(mode, ch) {
	/* choose bw as wide as possible if modification is needed */
	var bw_sel = document.getElementById('__bw');
	var wmode;

	if (!mode) {
		wmode = document.getElementById('WirelessMode');
		wmode = wmode.value*1;
	} else {
		wmode = mode*1;
	}

	if (is_mode_legacy_only(wmode)) {
		for (var idx in bw_sel.options) {
			bw_sel.options[idx].disabled = false;

			if (bw_sel.options[idx].value == 20)
				bw_sel.options[idx].selected = true;

			if (bw_sel.options[idx].value > 20)
				bw_sel.options[idx].disabled = true;
		}
	} else if (is_mode_gband(wmode)) {
		for (var idx in bw_sel.options) {
			bw_sel.options[idx].disabled = false;
		}
	} else if (is_mode_aband(wmode)) {
		for (var idx in bw_sel.options) {
			bw_sel.options[idx].disabled = false;
		}
	}

	Bw_onchange(bw_sel.value, ch);
}

function is_mode_legacy_only(mode) {
	var imode = mode*1;

	return ((imode >= 0) && (imode <= 4));
}

function is_mode_gband(mode) {
	var imode = mode*1;
	var gband_mode_list = [0,1,9,10];
	var i;

	for (i = 0; i < gband_mode_list.length; i++){
		if( gband_mode_list[i] == imode )
			return true;
	}

	return false;
}

function is_mode_aband(mode) {
	var imode = mode*1;
	var aband_mode_list = [2,8,14];
	var i;

	for (i = 0; i < aband_mode_list.length; i++){
		if( aband_mode_list[i] == imode )
			return true;
	}

	return false;
}

function init5G2nd80MhzChannelList(list) {
	var select = document.getElementById('VHT_Sec80_Channel');
	var ch2 = {};
	var new_ch2 = null;

	ch2.cval = select.value;
	ch2.oval = "<%=cfgs.VHT_Sec80_Channel%>";

	initList(select, list, ch2, "channel");

	if (select.length > 0)
		select.disabled = false;
	else
		alert("[Warning] 80+80MHz 2nd Channel is not available. Please Check CountryRegion.");
}

function get5G2nd80MhzChannelList(bw, ch) {
	var ch_5g_2nd = document.getElementById('VHT_Sec80_Channel');

		ch_5g_2nd.disabled = true;

	if (ch == "0")
		return;

	if (bw != "161" || ch == "0")
		return;

	var mode = document.getElementById('WirelessMode');
	mode = mode.value*1;

	var cr = GetCountryRegion(mode);
	XHR.get('<%=luci.dispatcher.build_url("admin", "network", "wifi", "get_5G_2nd_80Mhz_channel_list")%>', { "ch_cur" : ch, "country_region" : cr },
		function(x)
		{
			//console.log(x);
			//console.log(x.response);
			var json = eval(x.response);
			init5G2nd80MhzChannelList(json);
		}
	);
	}

function initHTExtChannelList(list) {
	var select = document.getElementById('HT_EXTCHA');
	var ch2 = {};
	var new_ch2 = null;

	ch2.cval = select.value;
	ch2.oval = "<%=cfgs.HT_EXTCHA%>";

	initList(select, list, ch2, "val");

	if (select.length > 0)
		select.disabled = false;
	else
		alert("[Warning] 40MHz Ext Channel is not avalable. Please Check CountryRegion.");
	}

function getHTExtChannel(bw, ch) {
	var ch_2g_ext = document.getElementById('HT_EXTCHA');

	ch_2g_ext.disabled = true;

	if (ch == "0")
		return;

	if (bw != "40" && bw != "60")
		return;

	var mode = document.getElementById('WirelessMode');
	mode = mode.value*1;

	var cr = GetCountryRegion(mode);
	XHR.get('<%=luci.dispatcher.build_url("admin", "network", "wifi", "get_HT_ext_channel_list")%>', { "ch_cur" : ch, "country_region" : cr },

		function(x)
		{
			console.log(x);
			console.log(x.response);
			var json = eval(x.response);
			initHTExtChannelList(json);
		}
	);
}

function CountryRegion_onchange(country_region) {
	if ($('#Channel').length > 0) {
		wmode = "<%=cfgs.WirelessMode%>";
		getChannelList(wmode, country_region);
	} else {
		Bw_onchange(document.getElementById("__bw").options[document.getElementById("__bw").selectedIndex].value);
	}
}

function getChannelList(mode, country_region) {
			XHR.get('<%=luci.dispatcher.build_url("admin", "network", "wifi", "get_channel_list")%>', { "mode" : mode, "country_region" : country_region },
		function(x)
		{
			console.log(x);
			console.log(x.response);
			var json = eval(x.response);
			initChannelList(json);
		}
	);
}

function initChannelList(list) {
	/* choose auto select when no matching item in the lis */
	var select = document.getElementById('Channel');
	var ch = {};
	var new_ch = null;

	ch.cval = select.value;
	ch.oval = "<%=dev.Channel%>";

	var new_ch = initList(select, list, ch, "channel");
	ch_onchange(new_ch);
}

function initList(selobj, list, selvals, value, text){
	var sel = {};
	var id = selobj.id;

	if (typeof(selvals) != "object")
		sel[0] = selvals;
	else
		sel = selvals;

	selobj.innerHTML = "";
	for (var i in list) {
		var opt = document.createElement('option');

		if(value)
			opt.value = list[i][value];
		else
			opt.value = list[i].value;

		if(text)
			opt.text = list[i][text];
		else
			opt.text = list[i].text;

		selobj.appendChild(opt);
	}

	var selv = null;
	for (var k in sel) {
		//console.log("[initList][" + id + "] sel[" + k + "]=" + sel[k]);
		for (var i in selobj.options){
			if (selobj.options[i].value == sel[k]){
				selobj.options[i].selected = true;
				selv = sel[k];
				//console.log("[initList][" + id + "] found selv=" + selv);
				break;
			}
		}

		if (selv) break;
	}

	if (!selv) {
		selv = selobj.value;
		//console.log("[initList][" + id + "] !selv, selv=" + selv);
	}

	if ($('#Channel').val() == 0) {
		ch_onchange(document.getElementById("Channel").options[document.getElementById("Channel").selectedIndex].value);
	}
	
	return selv;
}

function rgi() {
	$(".ren").each(function() {
		$(this).text($(this).text().replace('mt7615.1', 'mt7603'));
		<% if mt1 == "mt7612" then %>
		$(this).text($(this).text().replace('mt7615.2', 'mt7612'));
		<% else %>
		$(this).text($(this).text().replace('mt7615.2', 'mt7615'));
		<% end %>
	});
}

window.onload = function() {
	CountryRegion_onchange(document.getElementById("Region").options[document.getElementById("Region").selectedIndex].value);
	if ($('.ETxBfEnCond').length > 0) {
		beam_onchange(document.querySelector('input[name=ETxBfEnCond]:checked').value);
	}
	var reloading = sessionStorage.getItem("save_apply");
	if ($("#reload").length > 0) {
		if (reloading) {
			sessionStorage.removeItem("save_apply");
			wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "reload", devname)%>");
		} else {
			document.getElementById('reload').style.display="";
		}
	}
	<% if mt1 ~= "" then %>
	rgi();
	setTimeout(
		function(){
			document.getElementById("container").style.visibility = "visible";
		}, 100);
	<% end %>
}
</script>

<%+footer%>
