
<%+header%>
<!--
	This module is a demo to configure MTK' proprietary WiFi driver.
	Basic idea is to bypass uci and edit wireless profile (mt76xx.dat) directly.
	LuCI's WiFi configuration is more logical and elegent, but it's quite tricky to
	translate uci into MTK's WiFi profile (like we did in "uci2dat").

	Hua Shao <nossiac@163.com>
	- - - - - - - - - - - - - - - - -
 
	For MT7615+MT7615, MT7603+MT7615 and MT7603+MT7612
	https://github.com/Azexios/openwrt-r3p-mtk
-->

<%
local mtkwifi = require("mtkwifi")
local mtkwifis = require("mtkwifis")
local devs = mtkwifi.get_all_devs()

if not mtkwifi.exists("/etc/wireless/mt7603/") then
	mt1 = ""
elseif mtkwifi.exists("/etc/wireless/mt7603/") and mtkwifi.exists("/etc/wireless/mt7612/") then
	mt1 = "mt7612"
else
	mt1 = "mt7603"
end
%>

<style type="text/css">
#container {visibility: hidden;}
.a1 {
 margin-left:21px;
 white-space:pre;
}
.b1 {
 margin-left:21px;
 white-space:pre;
}
.m1 {
 white-space:pre;
}
table {
 border-collapse:separate;
 border-spacing:0px 5px
}
@media screen and (min-device-width: 601px) {
 .b2 {
  display:none;
 }
}
@media screen and (max-device-width: 600px) {
 header h3 a,
 header .brand {
  display:none
 }
 header .nav {
  flex:3 3 80%;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  margin:2px 5px 2px 0
 }
 header .nav a {
  padding:2px 6px
 }
 header .pull-right {
  flex:none;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  margin:.2em 5px .2em auto;
  padding:0
 }
 .a1 {
  margin-left:15px;
 }
 .b1 {
  display:none;
 }
 .a2 {
  display:none;
 }
}
</style>

<div id="container">
	<h2><a>Wireless Overview</a></h2>
	
	<div id="loading" style="margin-top: 1em; display: none;">
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" />
		&nbsp;&nbsp;&nbsp; Please waiting......
	</div>

	<% if #devs == 0 then %>
	<fieldset class="cbi-section">
		<legend>No wireless device found.</legend>
	</fieldset>
	<% end %>

	<% for _,dev in ipairs(devs) do %>
	<fieldset class="cbi-section">
		<table data-ss="1" class="cbi-section-table" style="margin:10px; empty-cells:hide">
			<!-- physical device -->
			<tbody>
				<tr>
					<td style="width:34px">
						<img src="/luci-static/resources/icons/wifi_big.png" alt="" style="float:left; margin-right:10px" />
					</td>
					<td colspan="2" style="text-align:left">
						<big><strong class="ren" title="<%=dev.profile%>"> Generic Mediatek <%=dev.devname%></strong></big>
						<br/>
						<span><strong>Work mode:</strong>  <% if dev.ApCliEnable == "1" then %> APCli <% else %> Master AP<% end %> </span>
						<%
						local diff = mtkwifi.diff_profile(dev.profile)
						if next(diff) ~= nil then
						%>
							<br/><span style="color:red;">* need reload to apply changes</span>
						<% 
						end
						%>
					</td>
					<td style="width:330px;text-align:right">
						<input class="cbi-button cbi-button-reload" style="width:100px" title="Reload Wi-Fi network" value="Reload" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "reload", dev.devname)%>");' />
						<input class="cbi-button cbi-button-edit" style="width:100px" title="Configure Wi-Fi device" value="Config" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "dev_cfg_view", dev.devname)%>'" />
						<input class="cbi-button cbi-button-add" style="width:100px" title="Add Wi-Fi network" value="Add" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "vif_add_view", dev.devname, dev.vifs.__prefix)%>'" />
					</td>
				</tr>
				<!-- /physical device -->
				<!-- network list -->
				<% for _,vif in ipairs(dev.vifs) do %>
				<tr class="cbi-section-table-row cbi-rowstyle-1">
					<td></td>
					<td class="cbi-value-field" style="width:16px; padding:3px">
						<% if vif.state == "up" then %>
						<img src="/luci-static/resources/icons/signal-75-100.png" alt="" />
						<% else %>
						<img src="/luci-static/resources/icons/signal-none.png" alt="" />
						<% end %>
					</td>
					<td class="cbi-value-field" style="min-width:150px;vertical-align:middle; text-align:left; padding:3px"><strong>Interface:</strong> <%=vif.vifname%> | <strong>Type:</strong> AP | <strong>SSID:</strong> <%=vif.__ssid%> | <strong>Channel:</strong> <%=vif.__channel%>
						<br/>
						<% if vif.state == "up" then %>
						<strong>BSSID:</strong> <%=vif.__bssid%> | <strong>Mode:</strong> <%=dev.WirelessModeList[tonumber(vif.__wirelessmode or dev.WirelessMode)]%>
						<% else %>
						Wireless is disabled
						<% end %>
					</td>
					<td class="cbi-value-field" style="text-align:right">
						<% if not vif.state then %>
						<input class="cbi-button cbi-button-apply" style="width:100px" title="Enable this Wi-Fi network" value="Enable" type="button" onclick="alert('Please restart manually to create this interface.')" />
						<% elseif vif.state == "up" then %>
						<span class="a2">
							<input class="cbi-button cbi-button-reset" style="width:100px" title="Disable this Wi-Fi network" value="Disable" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "vif_disable", vif.vifname)%>")' />
						</span>
						<span class="b2">
							<input class="cbi-button cbi-button-reset" style="width:100px" title="Disable this Wi-Fi network" value="Disable" type="button" onclick="if (confirm('Are you sure?')) location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "vif_disable", vif.vifname)%>'" />
						</span>
						<% else %>
						<input class="cbi-button cbi-button-apply" style="width:100px" title="Enable this Wi-Fi network" value="Enable" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "vif_enable", dev.devname, vif.vifname)%>")' />
						<% end %>
						<input class="cbi-button cbi-button-edit" style="width:100px" title="Edit this Wi-Fi network" value="Config" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "vif_cfg_view", dev.devname, vif.vifname)%>'" />
						<input class="cbi-button cbi-button-remove" style="width:100px" title="Delete this Wi-Fi network" value="Remove" type="button" onclick="if (confirm('You are going to delete the interface <%=vif.vifname%>, are you sure?')) location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "vif_del", dev.devname, vif.vifname)%>'" />
					</td>
				</tr>
				<% end %>
				<!-- /network list -->
				<!-- apcli list -->
				<% if dev.apcli then %>
				<tr>
					<td></td>
					<td class="cbi-value-field" style="width:16px; padding:3px">
						<% if dev.apcli.state == "up" then %>
							<% if dev.apcli.status == "Connected" then %>
							<img src="/luci-static/resources/icons/signal-75-100.png" alt="" />
							<% else %>
							<img src="/luci-static/resources/icons/signal-0.png" alt="" />
							<% end %>
						<% else %>
						<img src="/luci-static/resources/icons/signal-none.png" alt="" />
						<% end %>
					</td>
					<td class="cbi-value-field" style="min-width:150px;vertical-align:middle; text-align:left; padding:3px"><strong>Interface:</strong> <%=dev.apcli.devname%> | <strong>Type:</strong> STA | <strong>Status:</strong> <%=dev.apcli.status%>
						<br/>
						<% if dev.apcli.status == "Connected" then %>
						<strong>BSSID:</strong> <%=dev.apcli.bssid%> |
						<strong>SSID:</strong> <%=dev.apcli.ssid%>
						<br/>
						<strong>Signal level:</strong> <%=dev.apcli.signal%> | <strong>Bit Rate:</strong> <%=dev.apcli.rate%>
						<% else %>
							<% if dev.apcli.state == "up" then %>
							Wireless is not associated
							<% else %>
							Wireless is disabled
							<% end %>
						<% end %>
					</td>
					<td style="text-align:right">
						<% if dev.apcli.state == "up" then %>
						<input class="cbi-button cbi-button-reload" style="width:100px" title="Reconnect Wi-Fi network" value="Reconnect" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "apcli_connect", dev.devname, dev.apcli.vifname)%>")' />
						<input class="cbi-button cbi-button-remove" style="width:100px" title="Disable Wi-Fi network" value="Disable" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "apcli_disconnect", dev.devname, dev.apcli.vifname)%>")' />
						<% else %>
						<input class="cbi-button cbi-button-reload" style="width:100px" disabled="disabled" title="Reconnect Wi-Fi network" value="Reconnect" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "apcli_connect", dev.devname, dev.apcli.vifname)%>")' />
						<input class="cbi-button cbi-button-reload" style="width:100px" title="Enable Wi-Fi network" value="Enable" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "network", "wifi", "apcli_connect", dev.devname, dev.apcli.vifname)%>")' />
						<% end %>
						<input class="cbi-button cbi-button-edit" style="width:100px" title="Configure Wi-Fi device" value="Config" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "network", "wifi", "apcli_cfg_view", dev.devname, dev.apcli.vifname)%>'" />
					</td>
				</tr>
				<% end %>
				<!-- /apcli list -->
			</tbody>
		</table>
	</fieldset>
	<% end %>

	<fieldset class="cbi-section">
		<h2>
		<a>Associated Stations</a>
		<input class="cbi-button cbi-button-reload" style="height:26px; width:105px" type="button" title="Auto Refresh - Associated Stations" id="mixBut" value="Auto Refresh" />
		</h2>
	</fieldset>

	<% if mt1 == "" then %>
	<div id="refresh">
		<fieldset class="cbi-section a">
		<table>
			<thead>
				<tr style="text-align:left">
					<th>MAC-Address</th>
					<th><div class="a1">Hostname</div></th>
					<th><div class="a1">IPv4 (DHCP)</div></th>
					<th><div class="b1">RSSI - 0/1/2/3</div></th>
					<th><div class="b1">BW (T/R)</div></th>
					<th><div class="b1">MCS (T/R)</div></th>
					<th><div class="b1">GI (T/R)</div></th>
					<th><div class="b1">Rate (T/R)</div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><div class="m1"><%=MAC%></div></td>
					<td><div class="a1"><%=Host%></div></td>
					<td><div class="a1"><%=IP%></div></td>
					<td><div class="b1"><%=RSSI%></div></td>
					<td><div class="b1"><%=BW%></div></td>
					<td><div class="b1"><%=MCS%></div></td>
					<td><div class="b1" id="SGI"><%=SGI%></div></td>
					<td><div class="b1" id="Rate"><%=Rate%></div></td>
				</tr>
			</tbody>
		</table>
		</fieldset>
	</div>
	<% elseif mt1 == "mt7603" then %>
	<big><a><b>mt7603</b></a></big>
	<div id="refresh">
		<fieldset class="cbi-section a">
		<table>
			<thead>
				<tr style="text-align:left">
					<th>MAC-Address</th>
					<th><div class="a1">Hostname</div></th>
					<th><div class="a1">IPv4 (DHCP)</div></th>
					<th><div class="b1">RSSI - 0/1</div></th>
					<th><div class="b1">BW</div></th>
					<th><div class="b1">MCS</div></th>
					<th><div class="b1">GI</div></th>
					<th><div class="b1">Rate</div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><div class="m1"><%=MAC2%></div></td>
					<td><div class="a1"><%=Host2%></div></td>
					<td><div class="a1"><%=IP2%></div></td>
					<td><div class="b1"><%=RSSI2%></div></td>
					<td><div class="b1"><%=BW2%></div></td>
					<td><div class="b1"><%=MCS2%></div></td>
					<td><div class="b1" id="SGI2"><%=SGI2%></div></td>
					<td><div class="b1" id="Rate2"><%=Rate2%></div></td>
				</tr>
			</tbody>
		</table>
		</fieldset>
		<br>
		<big><a><b>mt7615</b></a></big>
		<fieldset class="cbi-section">
		<table>
			<thead>
				<tr style="text-align:left">
					<th>MAC-Address</th>
					<th><div class="a1">Hostname</div></th>
					<th><div class="a1">IPv4 (DHCP)</div></th>
					<th><div class="b1">RSSI - 0/1/2/3</div></th>
					<th><div class="b1">BW (T/R)</div></th>
					<th><div class="b1">MCS (T/R)</div></th>
					<th><div class="b1">GI (T/R)</div></th>
					<th><div class="b1">Rate (T/R)</div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><div class="m1"><%=MAC%></div></td>
					<td><div class="a1"><%=Host%></div></td>
					<td><div class="a1"><%=IP%></div></td>
					<td><div class="b1"><%=RSSI%></div></td>
					<td><div class="b1"><%=BW%></div></td>
					<td><div class="b1"><%=MCS%></div></td>
					<td><div class="b1" id="SGI"><%=SGI%></div></td>
					<td><div class="b1" id="Rate"><%=Rate%></div></td>
				</tr>
			</tbody>
		</table>
		</fieldset>
	</div>
	<% else %>
	<div id="refresh">
		<fieldset class="cbi-section a">
		<table>
			<thead>
				<tr style="text-align:left">
					<th>MAC-Address</th>
					<th><div class="a1">Hostname</div></th>
					<th><div class="a1">IPv4 (DHCP)</div></th>
					<th><div class="b1">RSSI - 0/1</div></th>
					<th><div class="b1">BW</div></th>
					<th><div class="b1">MCS</div></th>
					<th><div class="b1">GI</div></th>
					<th><div class="b1">Rate</div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><div class="m1"><%=MAC%></div></td>
					<td><div class="a1"><%=Host%></div></td>
					<td><div class="a1"><%=IP%></div></td>
					<td><div class="b1"><%=RSSI%></div></td>
					<td><div class="b1"><%=BW%></div></td>
					<td><div class="b1"><%=MCS%></div></td>
					<td><div class="b1" id="SGI"><%=SGI%></div></td>
					<td><div class="b1" id="Rate"><%=Rate%></div></td>
				</tr>
			</tbody>
		</table>
		</fieldset>
	</div>
	<% end %>
</div>


<script src="/luci-static/resources/jquery/jquery-1.4.js"></script>
<script type="text/javascript">
function wifi_reload(url) {
	Stop();
	window.scrollTo(0, 0);
	document.getElementById('loading').style.display="";
	reload();
	XHR.get(url, null,
		function(x)
		{
			console.log(x);
			document.getElementById("loading").style.display="none";
			window.location.reload();
		}
	);
}

function reload() {
	setInterval(function() {
		if (navigator.onLine) {
			window.location.reload();
		}
	}, 20000);
}

$('link[rel=stylesheet][href*="mobile.css"]').remove();

function resizeTables(sharedSize) {
	if ($(window).width() > 700) {
	  var tableArr = $('table[data-ss='+sharedSize+']');
	  var cellWidths = new Array();
	  $(tableArr).each(function() {
		for(j = 0; j < $(this)[0].rows[0].cells.length; j++){
			var cell = $($(this)[0].rows[0].cells[j]);
			if (!cellWidths[j] || cellWidths[j] < cell.width()) cellWidths[j] = cell.width();
		}
	  });
	  $(tableArr).each(function() {
		for(j = 0; j < $(this)[0].rows[0].cells.length; j++){
			$(this)[0].rows[0].cells[j].style.width = cellWidths[j]+'px';
		}
	  });
	}
}

window.onresize = function() {
	resizeTables('1');
}

function rgi() {
	$(".ren").each(function() {
		$(this).text($(this).text().replace('mt7615.1', 'mt7603'));
		<% if mt1 == "mt7612" then %>
		$(this).text($(this).text().replace('mt7615.2', 'mt7612'));
		<% else %>
		$(this).text($(this).text().replace('mt7615.2', 'mt7615'));
		<% end %>
	});
}

var mixBut = document.getElementById("mixBut");
mixBut.addEventListener("click", Start);
timer = false;

function Start(){
	timer = setInterval(a, 5000);
	mixBut.removeEventListener("click", Start);
	mixBut.addEventListener("click", Stop);
	mixBut.value = "Stop";
}

function Stop(){
	if (timer != false) {
		timer = clearInterval(timer);
		mixBut.removeEventListener("click", Stop);
		mixBut.addEventListener("click", Start);
		mixBut.value = "Auto Refresh";
		timer = false;
	}
}

function a(){
	if ($(".pause").length == 0) {
		$(".a").addClass("pause");
		$("#refresh").load(" #refresh > *");
	}
}

window.onload = function() {
  <% if mt1 ~= "" then %>rgi();<% end %>
  resizeTables('1');
  setTimeout(
	function(){
		document.getElementById("container").style.visibility = "visible";
	}, 100);
}
</script>

<%+footer%>
